* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

html, .container, body {
    width: 100vw;
    min-height: 100vh;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #fef9ee;
}

.KPI{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    text-align: center;
}

b {
    color: #025bc9;
}

